{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <style>
        .custom-file-label { opacity: 0; }
        .custom-file-input { opacity: 1; }
    </style>
    <div class="container-fluid">
        <h3 class="text-dark mb-4">Bonjour <strong>{{ app.user.nom|upper ~ " " ~ app.user.prenom|upper }}</strong>
            <span class="float-right">Vos roles :
                {% for role in app.user.roles %}
                    {% if role != 'ROLE_USER' %}
                        {% set roleName = role|split('_') %}
                        <span class="badge rounded {% if roleName.2 is defined and roleName.2 == 'CHIEF' %} badge-danger {% else %} badge-primary {% endif %}">
                            {{ roleName.1 }}
                        </span>
                    {% endif %}
                {% endfor %}
            </span>
        </h3>

        {{ form_start(form) }}
        <div class="row mb-3">
            <div class="col-lg-4">
                <div class="card mb-3">
                    <div class="card-body text-center shadow">
                        <img class="rounded-circle mb-3 mt-4" src="{{ app.user.avatar }}" width="160" height="160">
                        <div class="custom-file">
                            {{ form_errors(form.avatar) }}
                            {{ form_widget(form.avatar) }}
                        </div>
                    </div>
                </div>
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="text-primary font-weight-bold m-0">Dernier mail</h6>
                    </div>
                    <div class="card-body">
                        <h1>Listing des mails</h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col">
                            <div class="card shadow mb-3">
                                <div class="card-header py-3">
                                    <p class="text-primary m-0 font-weight-bold">Information personnel</p>
                                </div>
                                <div class="card-body">

                                        <div class="form-row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label for="last_name"><strong>Numero de télèphone</strong></label>
                                                    {{ form_errors(form.tel) }}
                                                    {{ form_widget(form.tel) }}
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    <label for="email"><strong>Adresse mail (discord)</strong></label>
                                                    {{ form_errors(form.discord) }}
                                                    {{ form_widget(form.discord) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group"><button class="btn btn-primary btn-sm" type="submit">Sauvegarder changement</button></div>
                                </div>
                            </div>
                            <div class="card shadow">
                                <div class="card-header py-3">
                                    <p class="text-primary m-0 font-weight-bold">Information additionnel</p>
                                </div>
                                <div class="card-body">
                                        <div class="form-group">
                                            <label for="address"><strong>Metier / Status social</strong></label>
                                            {{ form_errors(form.job) }}
                                            {{ form_widget(form.job) }}
                                        </div>
                                        <div class="form-group"><button class="btn btn-primary btn-sm" type="submit">Sauvegarder changement</button></div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
