{% extends 'base.html.twig' %}
{% block title %}Nouvelle arrestation{% endblock %}
{% block body %}
    <style>
        .custom-file-label { opacity: 0; }
        .custom-file-input { opacity: 1; }
    </style>
<div class="container-fluid">
    <h2>Nouvelle arrestation</h2>
    {{ form_start(form) }}
    <div class="shadow p-3 bg-gradient-dark text-white rounded">
        <div class="row">
            <div class="col-lg-6">
                <label for="">Date d'arrestation</label>
                {{ form_widget(form.dateArrest) }}
                {{ form_errors(form.dateArrest) }}
            </div>
            <div class="col-lg-6">
                <label for="">Lieux d'arrestation</label>
                {{ form_widget(form.lieux) }}
                {{ form_errors(form.lieux) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <label for="">Officier Arretant</label>
                {{ form_widget(form.userArrest) }}
                {{ form_errors(form.userArrest) }}
            </div>
            <div class="col-lg-6">
                <label for="">Officier présent</label>
                {{ form_widget(form.otherUsers) }}
                {{ form_errors(form.otherUsers) }}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-3">
                <label for="">Nom de l'individu</label>
                {{ form_widget(form.name) }}
                {{ form_errors(form.name) }}
            </div>
            <div class="col-lg-3">
                <label for="">Prénom de l'individu</label>
                {{ form_widget(form.prenom) }}
                {{ form_errors(form.prenom) }}
            </div>
            <div class="col-lg-3">
                <label for="">Sexe</label>
                {{ form_widget(form.sexe) }}
                {{ form_errors(form.sexe) }}
            </div>
            <div class="col-lg-3">
                <label for="">Date de naissance</label>
                {{ form_widget(form.birthDay) }}
                {{ form_errors(form.birthDay) }}
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-4">
                <label for="">Image de la personne</label>
                {{ form_widget(form.img) }}
                {{ form_errors(form.img) }}
            </div>
            <div class="col-lg-8">
                <label for="">Adresse de la personne</label>
                {{ form_widget(form.adress) }}
                {{ form_errors(form.adress) }}
            </div>

        </div>
        <div class="row mt-2">
            <div class="col-lg-12">
                {{ form_errors(form.charge) }}
                {{ form_widget(form.charge) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <label for="">Amande</label>
                {{ form_widget(form.amande) }}
                {{ form_errors(form.amande) }}
            </div>
            <div class="col-lg-6">
                <label for="">Peine</label>
                {{ form_widget(form.peine) }}
                {{ form_errors(form.peine) }}
            </div>
        </div>
    </div>
    <button class="btn btn-primary mt-3">Enregistrer</button>
    {{ form_end(form) }}
</div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('ckeditor/adapters/jquery.js') }}" type="text/javascript"></script>
    <script src="{{ asset('ckeditor/ckeditor.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $(function() {
            $('textarea.ckeditor').ckeditor();
        });
    </script>
{% endblock %}